.messageBox {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 0.5em 0.8em;
  color: white;
  display: inline-block;
  max-width: 80%;
}
p {
  margin: 0.5em;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin: 10px 0px;
}

.messageContainer.justifyEnd > .messageBox {
  border-bottom-left-radius: 3px;
}

.messageContainer.justifyStart > .messageBox {
  border-bottom-right-radius: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #3578e5;
}

.backgroundLight {
  background: #f3f3f3;
}

.adminBackground {
  background: #ffdc00;
}

[admin-initial]:before {
  content: attr(admin-initial);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: rgb(77, 17, 77);
  vertical-align: middle;
  color: white;
}

[user-initial]:before {
  content: attr(user-initial);
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  background: #39cccc;
  vertical-align: middle;
  color: white;
}
